.offers-content
  h1 Мои предложения
    ul.offers-menu
      li Участвую:
      li
        a(href='#') Приглашения
      li.active
        a(href='#') Активные
      li
        a(href='#') Редукцион 
      li
        a(href='#') Квалификация 
      li
        a(href='#') Закрытые 
      li
        a(href='#') Победитель
      li  
        a(href='#') Публичные торги
    .product-requests__form
      form(method='POST' action='')
        .product-requests__form-row
          .input-wrap
            input(type='text', placeholder='Поиск' name='name')
          button.btn-yellow Найти
    .stub__wrap
      .stub__wrap_item
        .stub__wrap_item-pic
        p Торги в данном разделе отсутствуют
