footer
  .container-wrap
    .footer_inner
      .footer_block.footer_1
        a(href='/')
          img.logo(src='img/logo.png', alt='Лого')
        |               
        p &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy; (&ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;)
        |               
        p &copy; &Kcy;&ocy;&pcy;&icy;&rcy;&acy;&jcy;&tcy;, 2017
      |           
      .footer_block.footer_2
        p.heading.grey &Pcy;&ocy;&kcy;&ucy;&pcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy;
        |               
        ul
          li.white
            a(href='#') &Pcy;&ocy;&icy;&scy;&kcy; &icy; &zcy;&acy;&kcy;&acy;&zcy;
          |                   
          li.grey
            a(href='#') &Ocy;&pcy;&lcy;&acy;&tcy;&acy; &icy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&acy;
          |                   
          li.white
            a(href='#') &Vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy; &icy; &ocy;&bcy;&mcy;&iecy;&ncy;
          |                   
          li.grey
            a(href='#') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
          |                   
          li.white
            a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &zcy;&acy;&shchcy;&icy;&tcy;&ycy;
      |           
      .footer_block.footer_3
        p.heading.grey &Pcy;&rcy;&ocy;&dcy;&acy;&vcy;&tscy;&acy;&mcy;
        |               
        ul
          li.white
            a(href='#') &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy;
          |                   
          li.grey
            a(href='#') &Pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &pcy;&ocy;&rcy;&tcy;&acy;&lcy;&ocy;&mcy;
        |               
        a.white(href='#')
          .cont &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
      |           
      .footer_block.footer_4
        p.heading.grey &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
        |               
        p.heading.white &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        |               
        .grey.social_block
          p.heading &Mcy;&ycy; &vcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &scy;&iecy;&tcy;&yacy;&khcy;:
          |                   
          .social
            a(href='#')
              .icon.vk
            |                       
            a(href='#')
              .icon.fb
            |                       
            a(href='#')
              .icon.gp
      |           
      .footer_block.footer_mobile
        p.white &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy; (&ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy;)
        |               
        p.grey.copyright &copy; &Kcy;&ocy;&pcy;&icy;&rcy;&acy;&jcy;&tcy;, 2017
