ul.offer-menu.owl-carousel
  li
    ul
      li.active
        a(href='#') Параметры предложения
      li
        a(href='#') Параметры качества
      li
        a(href='#') Срок годности
      li
        a(href='#') Возврат
      li
        a(href='#') Транспортная упаковка
      li
        a(href='#') Параметры поставки 
  li
    ul
      li
        a(href='#') Сертификаты
      li
        a(href='#') Образец  
      li
        a(href='#') Юридические требования 
      li
        a(href='#') Предоплата
      li
        a(href='#') Документы 
      li
        a(href='#') Комментарии
