.steps__wrap
  .steps__wrap_item.active 
    span.steps__wrap_item-circle 1
    span.steps__wrap_item-text  Продукт и поставка
  .steps__wrap_item 
    span.steps__wrap_item-circle 2
    span.steps__wrap_item-text Гарантия и оплата
  .steps__wrap_item
    span.steps__wrap_item-circle 3
    span.steps__wrap_item-text Дополнительные настройки
