.offer-shelf-life
  h2.offer-title Требования к транспортной упаковке
  .offer-row
    .offer-row__item
      span.offer-row__item-title Выберите транспортную упаковку
      select 
        option Выберите параметр
        option
        option

    .offer-row__item
      span.offer-row__item-title Количество в упаковке
      input.extra-small-input(type='text', placeholder='')
      span.amount-product кг
  .offer-row
    .checkbox.long-small
      input#check1(type='checkbox', name='checkbox', value='check1', checked)    
      label(for='check1')
        span 
        | Транспортная упаковка имеет штрихкод
        |
        small Активируйте данный параметр, чтобы указать тип штрихкода на упаковке
  .offer-row
    .offer-row__item
      span.offer-row__item-title Тип штрихкода
      select 
        option Не важно
        option
        option



  .buttons-wrap
    a(href='#').prev-btn
      span.prev-icon
      | К возврату
    a(href='#').next-btn
      span.next-icon
      | К параметрам поставки
