// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$btn-arrow-name: 'btn_arrow';
$btn-arrow-x: 0px;
$btn-arrow-y: 0px;
$btn-arrow-offset-x: 0px;
$btn-arrow-offset-y: 0px;
$btn-arrow-width: 14px;
$btn-arrow-height: 8px;
$btn-arrow-total-width: 80px;
$btn-arrow-total-height: 605px;
$btn-arrow-image: '../img/sprite.png';
$btn-arrow: (0px, 0px, 0px, 0px, 14px, 8px, 80px, 605px, '../img/sprite.png', 'btn_arrow', );
$checked-name: 'checked';
$checked-x: 0px;
$checked-y: 29px;
$checked-offset-x: 0px;
$checked-offset-y: -29px;
$checked-width: 17px;
$checked-height: 13px;
$checked-total-width: 80px;
$checked-total-height: 605px;
$checked-image: '../img/sprite.png';
$checked: (0px, 29px, 0px, -29px, 17px, 13px, 80px, 605px, '../img/sprite.png', 'checked', );
$city-name: 'city';
$city-x: 0px;
$city-y: 131px;
$city-offset-x: 0px;
$city-offset-y: -131px;
$city-width: 13px;
$city-height: 16px;
$city-total-width: 80px;
$city-total-height: 605px;
$city-image: '../img/sprite.png';
$city: (0px, 131px, 0px, -131px, 13px, 16px, 80px, 605px, '../img/sprite.png', 'city', );
$close-name: 'close';
$close-x: 0px;
$close-y: 272px;
$close-offset-x: 0px;
$close-offset-y: -272px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 80px;
$close-total-height: 605px;
$close-image: '../img/sprite.png';
$close: (0px, 272px, 0px, -272px, 27px, 27px, 80px, 605px, '../img/sprite.png', 'close', );
$del-icon-name: 'del-icon';
$del-icon-x: 0px;
$del-icon-y: 17px;
$del-icon-offset-x: 0px;
$del-icon-offset-y: -17px;
$del-icon-width: 12px;
$del-icon-height: 12px;
$del-icon-total-width: 80px;
$del-icon-total-height: 605px;
$del-icon-image: '../img/sprite.png';
$del-icon: (0px, 17px, 0px, -17px, 12px, 12px, 80px, 605px, '../img/sprite.png', 'del-icon', );
$many-people-name: 'many-people';
$many-people-x: 0px;
$many-people-y: 457px;
$many-people-offset-x: 0px;
$many-people-offset-y: -457px;
$many-people-width: 58px;
$many-people-height: 68px;
$many-people-total-width: 80px;
$many-people-total-height: 605px;
$many-people-image: '../img/sprite.png';
$many-people: (0px, 457px, 0px, -457px, 58px, 68px, 80px, 605px, '../img/sprite.png', 'many-people', );
$next-name: 'next';
$next-x: 0px;
$next-y: 299px;
$next-offset-x: 0px;
$next-offset-y: -299px;
$next-width: 50px;
$next-height: 45px;
$next-total-width: 80px;
$next-total-height: 605px;
$next-image: '../img/sprite.png';
$next: (0px, 299px, 0px, -299px, 50px, 45px, 80px, 605px, '../img/sprite.png', 'next', );
$owl-video-play-name: 'owl.video.play';
$owl-video-play-x: 0px;
$owl-video-play-y: 525px;
$owl-video-play-offset-x: 0px;
$owl-video-play-offset-y: -525px;
$owl-video-play-width: 80px;
$owl-video-play-height: 80px;
$owl-video-play-total-width: 80px;
$owl-video-play-total-height: 605px;
$owl-video-play-image: '../img/sprite.png';
$owl-video-play: (0px, 525px, 0px, -525px, 80px, 80px, 80px, 605px, '../img/sprite.png', 'owl.video.play', );
$people-name: 'people';
$people-x: 0px;
$people-y: 389px;
$people-offset-x: 0px;
$people-offset-y: -389px;
$people-width: 25px;
$people-height: 68px;
$people-total-width: 80px;
$people-total-height: 605px;
$people-image: '../img/sprite.png';
$people: (0px, 389px, 0px, -389px, 25px, 68px, 80px, 605px, '../img/sprite.png', 'people', );
$prev-name: 'prev';
$prev-x: 0px;
$prev-y: 344px;
$prev-offset-x: 0px;
$prev-offset-y: -344px;
$prev-width: 50px;
$prev-height: 45px;
$prev-total-width: 80px;
$prev-total-height: 605px;
$prev-image: '../img/sprite.png';
$prev: (0px, 344px, 0px, -344px, 50px, 45px, 80px, 605px, '../img/sprite.png', 'prev', );
$upload-icon-name: 'upload-icon';
$upload-icon-x: 0px;
$upload-icon-y: 70px;
$upload-icon-offset-x: 0px;
$upload-icon-offset-y: -70px;
$upload-icon-width: 14px;
$upload-icon-height: 14px;
$upload-icon-total-width: 80px;
$upload-icon-total-height: 605px;
$upload-icon-image: '../img/sprite.png';
$upload-icon: (0px, 70px, 0px, -70px, 14px, 14px, 80px, 605px, '../img/sprite.png', 'upload-icon', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 0px;
$white-arrow-y: 8px;
$white-arrow-offset-x: 0px;
$white-arrow-offset-y: -8px;
$white-arrow-width: 5px;
$white-arrow-height: 9px;
$white-arrow-total-width: 80px;
$white-arrow-total-height: 605px;
$white-arrow-image: '../img/sprite.png';
$white-arrow: (0px, 8px, 0px, -8px, 5px, 9px, 80px, 605px, '../img/sprite.png', 'white-arrow', );
$analitics-name: 'analitics';
$analitics-x: 0px;
$analitics-y: 115px;
$analitics-offset-x: 0px;
$analitics-offset-y: -115px;
$analitics-width: 20px;
$analitics-height: 16px;
$analitics-total-width: 80px;
$analitics-total-height: 605px;
$analitics-image: '../img/sprite.png';
$analitics: (0px, 115px, 0px, -115px, 20px, 16px, 80px, 605px, '../img/sprite.png', 'analitics', );
$balans-name: 'balans';
$balans-x: 0px;
$balans-y: 56px;
$balans-offset-x: 0px;
$balans-offset-y: -56px;
$balans-width: 18px;
$balans-height: 14px;
$balans-total-width: 80px;
$balans-total-height: 605px;
$balans-image: '../img/sprite.png';
$balans: (0px, 56px, 0px, -56px, 18px, 14px, 80px, 605px, '../img/sprite.png', 'balans', );
$client-name: 'client';
$client-x: 0px;
$client-y: 42px;
$client-offset-x: 0px;
$client-offset-y: -42px;
$client-width: 20px;
$client-height: 14px;
$client-total-width: 80px;
$client-total-height: 605px;
$client-image: '../img/sprite.png';
$client: (0px, 42px, 0px, -42px, 20px, 14px, 80px, 605px, '../img/sprite.png', 'client', );
$delivery-name: 'delivery';
$delivery-x: 0px;
$delivery-y: 99px;
$delivery-offset-x: 0px;
$delivery-offset-y: -99px;
$delivery-width: 18px;
$delivery-height: 16px;
$delivery-total-width: 80px;
$delivery-total-height: 605px;
$delivery-image: '../img/sprite.png';
$delivery: (0px, 99px, 0px, -99px, 18px, 16px, 80px, 605px, '../img/sprite.png', 'delivery', );
$exit-name: 'exit';
$exit-x: 0px;
$exit-y: 198px;
$exit-offset-x: 0px;
$exit-offset-y: -198px;
$exit-width: 16px;
$exit-height: 17px;
$exit-total-width: 80px;
$exit-total-height: 605px;
$exit-image: '../img/sprite.png';
$exit: (0px, 198px, 0px, -198px, 16px, 17px, 80px, 605px, '../img/sprite.png', 'exit', );
$goods-name: 'goods';
$goods-x: 0px;
$goods-y: 147px;
$goods-offset-x: 0px;
$goods-offset-y: -147px;
$goods-width: 17px;
$goods-height: 17px;
$goods-total-width: 80px;
$goods-total-height: 605px;
$goods-image: '../img/sprite.png';
$goods: (0px, 147px, 0px, -147px, 17px, 17px, 80px, 605px, '../img/sprite.png', 'goods', );
$msg-name: 'msg';
$msg-x: 0px;
$msg-y: 233px;
$msg-offset-x: 0px;
$msg-offset-y: -233px;
$msg-width: 17px;
$msg-height: 19px;
$msg-total-width: 80px;
$msg-total-height: 605px;
$msg-image: '../img/sprite.png';
$msg: (0px, 233px, 0px, -233px, 17px, 19px, 80px, 605px, '../img/sprite.png', 'msg', );
$orders-name: 'orders';
$orders-x: 0px;
$orders-y: 181px;
$orders-offset-x: 0px;
$orders-offset-y: -181px;
$orders-width: 16px;
$orders-height: 17px;
$orders-total-width: 80px;
$orders-total-height: 605px;
$orders-image: '../img/sprite.png';
$orders: (0px, 181px, 0px, -181px, 16px, 17px, 80px, 605px, '../img/sprite.png', 'orders', );
$page-name: 'page';
$page-x: 0px;
$page-y: 215px;
$page-offset-x: 0px;
$page-offset-y: -215px;
$page-width: 14px;
$page-height: 18px;
$page-total-width: 80px;
$page-total-height: 605px;
$page-image: '../img/sprite.png';
$page: (0px, 215px, 0px, -215px, 14px, 18px, 80px, 605px, '../img/sprite.png', 'page', );
$purchases-name: 'purchases';
$purchases-x: 0px;
$purchases-y: 164px;
$purchases-offset-x: 0px;
$purchases-offset-y: -164px;
$purchases-width: 18px;
$purchases-height: 17px;
$purchases-total-width: 80px;
$purchases-total-height: 605px;
$purchases-image: '../img/sprite.png';
$purchases: (0px, 164px, 0px, -164px, 18px, 17px, 80px, 605px, '../img/sprite.png', 'purchases', );
$sales-name: 'sales';
$sales-x: 0px;
$sales-y: 84px;
$sales-offset-x: 0px;
$sales-offset-y: -84px;
$sales-width: 26px;
$sales-height: 15px;
$sales-total-width: 80px;
$sales-total-height: 605px;
$sales-image: '../img/sprite.png';
$sales: (0px, 84px, 0px, -84px, 26px, 15px, 80px, 605px, '../img/sprite.png', 'sales', );
$sertificat-name: 'sertificat';
$sertificat-x: 0px;
$sertificat-y: 252px;
$sertificat-offset-x: 0px;
$sertificat-offset-y: -252px;
$sertificat-width: 13px;
$sertificat-height: 20px;
$sertificat-total-width: 80px;
$sertificat-total-height: 605px;
$sertificat-image: '../img/sprite.png';
$sertificat: (0px, 252px, 0px, -252px, 13px, 20px, 80px, 605px, '../img/sprite.png', 'sertificat', );
$spritesheet-width: 80px;
$spritesheet-height: 605px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($btn-arrow, $checked, $city, $close, $del-icon, $many-people, $next, $owl-video-play, $people, $prev, $upload-icon, $white-arrow, $analitics, $balans, $client, $delivery, $exit, $goods, $msg, $orders, $page, $purchases, $sales, $sertificat, );
$spritesheet: (80px, 605px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
