// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$add-photo-name: 'add-photo';
$add-photo-x: 0px;
$add-photo-y: 1046px;
$add-photo-offset-x: 0px;
$add-photo-offset-y: -1046px;
$add-photo-width: 112px;
$add-photo-height: 97px;
$add-photo-total-width: 112px;
$add-photo-total-height: 1143px;
$add-photo-image: '../img/sprite.png';
$add-photo: (0px, 1046px, 0px, -1046px, 112px, 97px, 112px, 1143px, '../img/sprite.png', 'add-photo', );
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 50px;
$arrow-offset-x: 0px;
$arrow-offset-y: -50px;
$arrow-width: 8px;
$arrow-height: 14px;
$arrow-total-width: 112px;
$arrow-total-height: 1143px;
$arrow-image: '../img/sprite.png';
$arrow: (0px, 50px, 0px, -50px, 8px, 14px, 112px, 1143px, '../img/sprite.png', 'arrow', );
$btn-arrow-name: 'btn_arrow';
$btn-arrow-x: 0px;
$btn-arrow-y: 8px;
$btn-arrow-offset-x: 0px;
$btn-arrow-offset-y: -8px;
$btn-arrow-width: 14px;
$btn-arrow-height: 8px;
$btn-arrow-total-width: 112px;
$btn-arrow-total-height: 1143px;
$btn-arrow-image: '../img/sprite.png';
$btn-arrow: (0px, 8px, 0px, -8px, 14px, 8px, 112px, 1143px, '../img/sprite.png', 'btn_arrow', );
$check-name: 'check';
$check-x: 0px;
$check-y: 0px;
$check-offset-x: 0px;
$check-offset-y: 0px;
$check-width: 11px;
$check-height: 8px;
$check-total-width: 112px;
$check-total-height: 1143px;
$check-image: '../img/sprite.png';
$check: (0px, 0px, 0px, 0px, 11px, 8px, 112px, 1143px, '../img/sprite.png', 'check', );
$checked-name: 'checked';
$checked-x: 0px;
$checked-y: 37px;
$checked-offset-x: 0px;
$checked-offset-y: -37px;
$checked-width: 17px;
$checked-height: 13px;
$checked-total-width: 112px;
$checked-total-height: 1143px;
$checked-image: '../img/sprite.png';
$checked: (0px, 37px, 0px, -37px, 17px, 13px, 112px, 1143px, '../img/sprite.png', 'checked', );
$city-name: 'city';
$city-x: 0px;
$city-y: 166px;
$city-offset-x: 0px;
$city-offset-y: -166px;
$city-width: 13px;
$city-height: 16px;
$city-total-width: 112px;
$city-total-height: 1143px;
$city-image: '../img/sprite.png';
$city: (0px, 166px, 0px, -166px, 13px, 16px, 112px, 1143px, '../img/sprite.png', 'city', );
$close-name: 'close';
$close-x: 0px;
$close-y: 561px;
$close-offset-x: 0px;
$close-offset-y: -561px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 112px;
$close-total-height: 1143px;
$close-image: '../img/sprite.png';
$close: (0px, 561px, 0px, -561px, 27px, 27px, 112px, 1143px, '../img/sprite.png', 'close', );
$del-icon-name: 'del-icon';
$del-icon-x: 0px;
$del-icon-y: 25px;
$del-icon-offset-x: 0px;
$del-icon-offset-y: -25px;
$del-icon-width: 12px;
$del-icon-height: 12px;
$del-icon-total-width: 112px;
$del-icon-total-height: 1143px;
$del-icon-image: '../img/sprite.png';
$del-icon: (0px, 25px, 0px, -25px, 12px, 12px, 112px, 1143px, '../img/sprite.png', 'del-icon', );
$file-name: 'file';
$file-x: 0px;
$file-y: 814px;
$file-offset-x: 0px;
$file-offset-y: -814px;
$file-width: 59px;
$file-height: 73px;
$file-total-width: 112px;
$file-total-height: 1143px;
$file-image: '../img/sprite.png';
$file: (0px, 814px, 0px, -814px, 59px, 73px, 112px, 1143px, '../img/sprite.png', 'file', );
$keys-name: 'keys';
$keys-x: 0px;
$keys-y: 303px;
$keys-offset-x: 0px;
$keys-offset-y: -303px;
$keys-width: 19px;
$keys-height: 19px;
$keys-total-width: 112px;
$keys-total-height: 1143px;
$keys-image: '../img/sprite.png';
$keys: (0px, 303px, 0px, -303px, 19px, 19px, 112px, 1143px, '../img/sprite.png', 'keys', );
$logout-name: 'logout';
$logout-x: 0px;
$logout-y: 78px;
$logout-offset-x: 0px;
$logout-offset-y: -78px;
$logout-width: 14px;
$logout-height: 14px;
$logout-total-width: 112px;
$logout-total-height: 1143px;
$logout-image: '../img/sprite.png';
$logout: (0px, 78px, 0px, -78px, 14px, 14px, 112px, 1143px, '../img/sprite.png', 'logout', );
$loop-name: 'loop';
$loop-x: 0px;
$loop-y: 322px;
$loop-offset-x: 0px;
$loop-offset-y: -322px;
$loop-width: 18px;
$loop-height: 19px;
$loop-total-width: 112px;
$loop-total-height: 1143px;
$loop-image: '../img/sprite.png';
$loop: (0px, 322px, 0px, -322px, 18px, 19px, 112px, 1143px, '../img/sprite.png', 'loop', );
$many-people-name: 'many-people';
$many-people-x: 0px;
$many-people-y: 746px;
$many-people-offset-x: 0px;
$many-people-offset-y: -746px;
$many-people-width: 58px;
$many-people-height: 68px;
$many-people-total-width: 112px;
$many-people-total-height: 1143px;
$many-people-image: '../img/sprite.png';
$many-people: (0px, 746px, 0px, -746px, 58px, 68px, 112px, 1143px, '../img/sprite.png', 'many-people', );
$next-name: 'next';
$next-x: 0px;
$next-y: 633px;
$next-offset-x: 0px;
$next-offset-y: -633px;
$next-width: 50px;
$next-height: 45px;
$next-total-width: 112px;
$next-total-height: 1143px;
$next-image: '../img/sprite.png';
$next: (0px, 633px, 0px, -633px, 50px, 45px, 112px, 1143px, '../img/sprite.png', 'next', );
$owl-video-play-name: 'owl.video.play';
$owl-video-play-x: 0px;
$owl-video-play-y: 966px;
$owl-video-play-offset-x: 0px;
$owl-video-play-offset-y: -966px;
$owl-video-play-width: 80px;
$owl-video-play-height: 80px;
$owl-video-play-total-width: 112px;
$owl-video-play-total-height: 1143px;
$owl-video-play-image: '../img/sprite.png';
$owl-video-play: (0px, 966px, 0px, -966px, 80px, 80px, 112px, 1143px, '../img/sprite.png', 'owl.video.play', );
$people-name: 'people';
$people-x: 0px;
$people-y: 678px;
$people-offset-x: 0px;
$people-offset-y: -678px;
$people-width: 25px;
$people-height: 68px;
$people-total-width: 112px;
$people-total-height: 1143px;
$people-image: '../img/sprite.png';
$people: (0px, 678px, 0px, -678px, 25px, 68px, 112px, 1143px, '../img/sprite.png', 'people', );
$prev-name: 'prev';
$prev-x: 0px;
$prev-y: 588px;
$prev-offset-x: 0px;
$prev-offset-y: -588px;
$prev-width: 50px;
$prev-height: 45px;
$prev-total-width: 112px;
$prev-total-height: 1143px;
$prev-image: '../img/sprite.png';
$prev: (0px, 588px, 0px, -588px, 50px, 45px, 112px, 1143px, '../img/sprite.png', 'prev', );
$rect-name: 'rect';
$rect-x: 0px;
$rect-y: 887px;
$rect-offset-x: 0px;
$rect-offset-y: -887px;
$rect-width: 54px;
$rect-height: 79px;
$rect-total-width: 112px;
$rect-total-height: 1143px;
$rect-image: '../img/sprite.png';
$rect: (0px, 887px, 0px, -887px, 54px, 79px, 112px, 1143px, '../img/sprite.png', 'rect', );
$upload-icon-name: 'upload-icon';
$upload-icon-x: 0px;
$upload-icon-y: 106px;
$upload-icon-offset-x: 0px;
$upload-icon-offset-y: -106px;
$upload-icon-width: 14px;
$upload-icon-height: 14px;
$upload-icon-total-width: 112px;
$upload-icon-total-height: 1143px;
$upload-icon-image: '../img/sprite.png';
$upload-icon: (0px, 106px, 0px, -106px, 14px, 14px, 112px, 1143px, '../img/sprite.png', 'upload-icon', );
$user-name: 'user';
$user-x: 0px;
$user-y: 135px;
$user-offset-x: 0px;
$user-offset-y: -135px;
$user-width: 16px;
$user-height: 15px;
$user-total-width: 112px;
$user-total-height: 1143px;
$user-image: '../img/sprite.png';
$user: (0px, 135px, 0px, -135px, 16px, 15px, 112px, 1143px, '../img/sprite.png', 'user', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 0px;
$white-arrow-y: 16px;
$white-arrow-offset-x: 0px;
$white-arrow-offset-y: -16px;
$white-arrow-width: 5px;
$white-arrow-height: 9px;
$white-arrow-total-width: 112px;
$white-arrow-total-height: 1143px;
$white-arrow-image: '../img/sprite.png';
$white-arrow: (0px, 16px, 0px, -16px, 5px, 9px, 112px, 1143px, '../img/sprite.png', 'white-arrow', );
$analitics-name: 'analitics';
$analitics-x: 0px;
$analitics-y: 150px;
$analitics-offset-x: 0px;
$analitics-offset-y: -150px;
$analitics-width: 20px;
$analitics-height: 16px;
$analitics-total-width: 112px;
$analitics-total-height: 1143px;
$analitics-image: '../img/sprite.png';
$analitics: (0px, 150px, 0px, -150px, 20px, 16px, 112px, 1143px, '../img/sprite.png', 'analitics', );
$balans-name: 'balans';
$balans-x: 0px;
$balans-y: 64px;
$balans-offset-x: 0px;
$balans-offset-y: -64px;
$balans-width: 18px;
$balans-height: 14px;
$balans-total-width: 112px;
$balans-total-height: 1143px;
$balans-image: '../img/sprite.png';
$balans: (0px, 64px, 0px, -64px, 18px, 14px, 112px, 1143px, '../img/sprite.png', 'balans', );
$client-name: 'client';
$client-x: 0px;
$client-y: 92px;
$client-offset-x: 0px;
$client-offset-y: -92px;
$client-width: 20px;
$client-height: 14px;
$client-total-width: 112px;
$client-total-height: 1143px;
$client-image: '../img/sprite.png';
$client: (0px, 92px, 0px, -92px, 20px, 14px, 112px, 1143px, '../img/sprite.png', 'client', );
$delivery-name: 'delivery';
$delivery-x: 0px;
$delivery-y: 182px;
$delivery-offset-x: 0px;
$delivery-offset-y: -182px;
$delivery-width: 18px;
$delivery-height: 16px;
$delivery-total-width: 112px;
$delivery-total-height: 1143px;
$delivery-image: '../img/sprite.png';
$delivery: (0px, 182px, 0px, -182px, 18px, 16px, 112px, 1143px, '../img/sprite.png', 'delivery', );
$exit-name: 'exit';
$exit-x: 0px;
$exit-y: 215px;
$exit-offset-x: 0px;
$exit-offset-y: -215px;
$exit-width: 16px;
$exit-height: 17px;
$exit-total-width: 112px;
$exit-total-height: 1143px;
$exit-image: '../img/sprite.png';
$exit: (0px, 215px, 0px, -215px, 16px, 17px, 112px, 1143px, '../img/sprite.png', 'exit', );
$goods-name: 'goods';
$goods-x: 0px;
$goods-y: 249px;
$goods-offset-x: 0px;
$goods-offset-y: -249px;
$goods-width: 17px;
$goods-height: 17px;
$goods-total-width: 112px;
$goods-total-height: 1143px;
$goods-image: '../img/sprite.png';
$goods: (0px, 249px, 0px, -249px, 17px, 17px, 112px, 1143px, '../img/sprite.png', 'goods', );
$msg-name: 'msg';
$msg-x: 0px;
$msg-y: 284px;
$msg-offset-x: 0px;
$msg-offset-y: -284px;
$msg-width: 17px;
$msg-height: 19px;
$msg-total-width: 112px;
$msg-total-height: 1143px;
$msg-image: '../img/sprite.png';
$msg: (0px, 284px, 0px, -284px, 17px, 19px, 112px, 1143px, '../img/sprite.png', 'msg', );
$orders-name: 'orders';
$orders-x: 0px;
$orders-y: 232px;
$orders-offset-x: 0px;
$orders-offset-y: -232px;
$orders-width: 16px;
$orders-height: 17px;
$orders-total-width: 112px;
$orders-total-height: 1143px;
$orders-image: '../img/sprite.png';
$orders: (0px, 232px, 0px, -232px, 16px, 17px, 112px, 1143px, '../img/sprite.png', 'orders', );
$page-name: 'page';
$page-x: 0px;
$page-y: 266px;
$page-offset-x: 0px;
$page-offset-y: -266px;
$page-width: 14px;
$page-height: 18px;
$page-total-width: 112px;
$page-total-height: 1143px;
$page-image: '../img/sprite.png';
$page: (0px, 266px, 0px, -266px, 14px, 18px, 112px, 1143px, '../img/sprite.png', 'page', );
$purchases-name: 'purchases';
$purchases-x: 0px;
$purchases-y: 198px;
$purchases-offset-x: 0px;
$purchases-offset-y: -198px;
$purchases-width: 18px;
$purchases-height: 17px;
$purchases-total-width: 112px;
$purchases-total-height: 1143px;
$purchases-image: '../img/sprite.png';
$purchases: (0px, 198px, 0px, -198px, 18px, 17px, 112px, 1143px, '../img/sprite.png', 'purchases', );
$sales-name: 'sales';
$sales-x: 0px;
$sales-y: 120px;
$sales-offset-x: 0px;
$sales-offset-y: -120px;
$sales-width: 26px;
$sales-height: 15px;
$sales-total-width: 112px;
$sales-total-height: 1143px;
$sales-image: '../img/sprite.png';
$sales: (0px, 120px, 0px, -120px, 26px, 15px, 112px, 1143px, '../img/sprite.png', 'sales', );
$sertificat-name: 'sertificat';
$sertificat-x: 0px;
$sertificat-y: 341px;
$sertificat-offset-x: 0px;
$sertificat-offset-y: -341px;
$sertificat-width: 13px;
$sertificat-height: 20px;
$sertificat-total-width: 112px;
$sertificat-total-height: 1143px;
$sertificat-image: '../img/sprite.png';
$sertificat: (0px, 341px, 0px, -341px, 13px, 20px, 112px, 1143px, '../img/sprite.png', 'sertificat', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 361px;
$fb-offset-x: 0px;
$fb-offset-y: -361px;
$fb-width: 25px;
$fb-height: 25px;
$fb-total-width: 112px;
$fb-total-height: 1143px;
$fb-image: '../img/sprite.png';
$fb: (0px, 361px, 0px, -361px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'fb', );
$fb-h-name: 'fb_h';
$fb-h-x: 0px;
$fb-h-y: 536px;
$fb-h-offset-x: 0px;
$fb-h-offset-y: -536px;
$fb-h-width: 25px;
$fb-h-height: 25px;
$fb-h-total-width: 112px;
$fb-h-total-height: 1143px;
$fb-h-image: '../img/sprite.png';
$fb-h: (0px, 536px, 0px, -536px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'fb_h', );
$gp-name: 'gp';
$gp-x: 0px;
$gp-y: 511px;
$gp-offset-x: 0px;
$gp-offset-y: -511px;
$gp-width: 25px;
$gp-height: 25px;
$gp-total-width: 112px;
$gp-total-height: 1143px;
$gp-image: '../img/sprite.png';
$gp: (0px, 511px, 0px, -511px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'gp', );
$gp-h-name: 'gp_h';
$gp-h-x: 0px;
$gp-h-y: 486px;
$gp-h-offset-x: 0px;
$gp-h-offset-y: -486px;
$gp-h-width: 25px;
$gp-h-height: 25px;
$gp-h-total-width: 112px;
$gp-h-total-height: 1143px;
$gp-h-image: '../img/sprite.png';
$gp-h: (0px, 486px, 0px, -486px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'gp_h', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 461px;
$tw-offset-x: 0px;
$tw-offset-y: -461px;
$tw-width: 25px;
$tw-height: 25px;
$tw-total-width: 112px;
$tw-total-height: 1143px;
$tw-image: '../img/sprite.png';
$tw: (0px, 461px, 0px, -461px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'tw', );
$tw-h-name: 'tw_h';
$tw-h-x: 0px;
$tw-h-y: 436px;
$tw-h-offset-x: 0px;
$tw-h-offset-y: -436px;
$tw-h-width: 25px;
$tw-h-height: 25px;
$tw-h-total-width: 112px;
$tw-h-total-height: 1143px;
$tw-h-image: '../img/sprite.png';
$tw-h: (0px, 436px, 0px, -436px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'tw_h', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 386px;
$vk-offset-x: 0px;
$vk-offset-y: -386px;
$vk-width: 25px;
$vk-height: 25px;
$vk-total-width: 112px;
$vk-total-height: 1143px;
$vk-image: '../img/sprite.png';
$vk: (0px, 386px, 0px, -386px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'vk', );
$vk-h-name: 'vk_h';
$vk-h-x: 0px;
$vk-h-y: 411px;
$vk-h-offset-x: 0px;
$vk-h-offset-y: -411px;
$vk-h-width: 25px;
$vk-h-height: 25px;
$vk-h-total-width: 112px;
$vk-h-total-height: 1143px;
$vk-h-image: '../img/sprite.png';
$vk-h: (0px, 411px, 0px, -411px, 25px, 25px, 112px, 1143px, '../img/sprite.png', 'vk_h', );
$spritesheet-width: 112px;
$spritesheet-height: 1143px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($add-photo, $arrow, $btn-arrow, $check, $checked, $city, $close, $del-icon, $file, $keys, $logout, $loop, $many-people, $next, $owl-video-play, $people, $prev, $rect, $upload-icon, $user, $white-arrow, $analitics, $balans, $client, $delivery, $exit, $goods, $msg, $orders, $page, $purchases, $sales, $sertificat, $fb, $fb-h, $gp, $gp-h, $tw, $tw-h, $vk, $vk-h, );
$spritesheet: (112px, 1143px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
