.product-requests-sidebar
  ul
    li
      a(href='#')
        span.sidebar-icon.page-icon
        | Моя страница
    li
      a(href='#')
        span.sidebar-icon.client-icon
        | Мои клиенты
    li
      a(href='#')
        span.sidebar-icon.orders-icon
        | Новые заказы
    li
      a(href='#')
        span.sidebar-icon.goods-icon
        | Мои товары
    li
      a(href='#')
        span.sidebar-icon.msg-icon
        | Мои сообщения
    li
      a(href='#')
        span.sidebar-icon.sertificat-icon
        | Сертификация
    li
      a(href='#')
        span.sidebar-icon.balans-icon
        | Личный баланс
    li
      a(href='#')
        span.sidebar-icon.purchases-icon
        | Мои покупки
    li.active
      a(href='#')
        span.sidebar-icon.sales-icon
        | Мои продажи
    li
      a(href='#')
        span.sidebar-icon.analitics-icon
        | Аналитика
    li
      a(href='#')
        span.sidebar-icon.delivery-icon
        | Доставка
    li
      a(href='#')
        span.sidebar-icon.exit-icon
        | Выйти
    
