ul.offer-menu
  li.active
    a(href='#') Компания
  li
    a(href='#') Срок проведения аукциона
  li
    a(href='#') Продукт
  li
    a(href='#') Фотографии
  li
    a(href='#') Упаковка продукта
  li
    a(href='#') Объем продаж
  li
    a(href='#') Место сделки
