.offer-company
  h2.offer-title Вы являетесь представителем компании или частным лицом?
  .offer-company-company 
    .offer-company-company-pic
    span Компания
    p Заявка на продажу продуктов питания для компании
    a(href='#').btn-border Выбрано
  .offer-company-person
    .offer-company-person-pic
    span Частное лицо
    p Заявка на продажу продуктов питания для себя
    a(href='#').btn-border.btn-checked
      span.checked-icon
      | Выбрано
  .buttons-wrap
    a(href='#').next-btn
      span.next-icon
      | К сроку проведения аукциона
