ul.offer-menu
  li
    a(href='#') Компания
  li
    a(href='#') Срок проведения аукциона
  li.active
    a(href='#') Продукт
  li
    a(href='#') Фотографии
  li
    a(href='#') Упаковка продукта
  li
    a(href='#') Объем продаж
  li
    a(href='#') Место сделки
.offer-product
  h2.offer-title Выберите продукт, который хотите купить
  .offer-row__wrap
    .offer-row
      h2.offer-title Параметры продукта
        span Выберите детали и параметры продукта.
      .offer-row__item
        span.offer-row__item-title Страна происхождения
        select
          option Выберите страну
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Производитель
        input(type='text', placeholder='Выберите производителя')
      .offer-row__item
        span.offer-row__item-title Бренд
        input(type='text', placeholder='Выберите бренд')
    .offer-row
      h2.offer-title Основные параметры
      .offer-row__item
        span.offer-row__item-title Вид муки
        select
          option Выберите вид
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Помол муки
        select
          option Выберите помол
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Сорта муки
        select
          option Выберите сорт
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Тип муки
        select
          option Выберите тип
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Упаковка муки
        select
          option Выберите упаковку
          option 2
          option 3
          option 4
    .offer-row
      h2.offer-title Дополнительные параметры
      .offer-row__item
        span.offer-row__item-title Вид кормовой муки
        select
          option Выберите вид
          option 2
          option 3
          option 4
      .offer-row__item
        span.offer-row__item-title Для чего мука
        select
          option Выберите параметр
          option 2
          option 3
          option 4
  .buttons-wrap
    a(href='#').prev-btn
      span.prev-icon
      | К сроку проведения аукциона
    a(href='#').next-btn
      span.next-icon
      | К сроку проведения аукциона
    
