ul.offer-menu
  li
    a(href='#') Компания
  li.active
    a(href='#') Срок проведения аукциона
  li
    a(href='#') Продукт
  li
    a(href='#') Фотографии
  li
    a(href='#') Упаковка продукта
  li
    a(href='#') Объем продаж
  li
    a(href='#') Место сделки
.offer-auction
  h2.offer-title Cрок проведения аукциона
