ul.offer-menu
  li
    a(href='#') Параметры предложения
  li
    a(href='#') Параметры качества
  li
    a(href='#') Срок годности
  li
    a(href='#') Возврат
  li
    a(href='#') Транспортная упаковка
  li.active
    a(href='#') Параметры поставки 
  li
    a(href='#') Сертификаты
  li
    a(href='#') Образец  
  li
    a(href='#') Юридические требования 
  li
    a(href='#') Предоплата
  li
    a(href='#') Документы 
  li
    a(href='#') Комментарии


.offer-shelf-life
  h2.offer-title Укажите транспорт, на котором заберут товар
  .offer-row
    .offer-row__item
      span.offer-row__item-title-hight Выберите транспорт
      select 
        option Не выбрано
        option
        option
    .offer-row__item
      span.offer-row__item-title-hight Выберите способ транспортировки товара в машине
      select 
        option Не выбрано
        option
        option
    .offer-row__item
      span.offer-row__item-title-hight Выберите тип погрузки/разгрузки
      select 
        option Не выбрано
        option
        option
  .offer-row
    span.offer-row__item-title Выберите способ осуществления погрузки/разгрузки
    .checkbox__wrap
      .checkbox
        input#check1(type='radio', name='radio', value='check1', checked)    
        label(for='check1')
          span 
        | Осуществляется поставщиком
      .checkbox
        input#check2(type='radio', name='radio', value='check2')    
        label(for='check2')
          span 
        | Осуществляется покупателем
  .offer-row

    .checkbox
      input#check3(type='checkbox', name='checkbox', value='check3', checked)    
      label(for='check3')
        span 
      | Температура в транспорте
    span.offer-row__item-title Выберите способ осуществления погрузки/разгрузки
    input.extra-small-input(type='text', placeholder='')
    span.amount-product &deg;С
    .checkbox.checkbox-extra-small
      input#check4(type='checkbox', name='checkbox', value='check4', checked)    
      label(for='check4')
        span 
      | до
    input.extra-small-input(type='text', placeholder='')
    span.amount-product &deg;С
  .buttons-wrap
    a(href='#').prev-btn
      span.prev-icon
      | К транспортной упаковке
    a(href='#').next-btn
      span.next-icon
      | К сертификатам 
