ul.offer-menu
  li.active
    a(href='#') Стоимость продуктов 
  li
    a(href='#') Условия оплаты 
  li
    a(href='#') Гарантия сделки 

.offer-partial-prepayment
  h2.offer-title Укажите стоимость
  .offer-row
    .offer-row__item
      span.offer-row__item-title Стоимость за
      input.extra-small-input(type='text', placeholder='')
      span.amount-product кг
      input.extra-small-input(type='text', placeholder='')
      span.amount-product тенге
  .offer-row
    .offer-row__item
      .checkbox
        input#check1(type='checkbox', name='checkbox', value='check1')    
        label(for='check1')
          span 
        | Готов к понижению цены
    .offer-row__item
      input.extra-small-input(type='text', placeholder='')
      span.amount-product дней
  .offer-row
    p Стоимость 1 кг от 10000 тенге до 11500 тенге
    p Общая стоимость за партию будет 11500 тенге
  .buttons-wrap
    a(href='#').prev-btn
      span.prev-icon
      | К объему продаж
    a(href='#').next-btn
      span.next-icon
      | К стоимости
