.purchasing-information__table
  .purchasing-information__table-acceptance-offer
    span.text-title Прием предложений:
    span.offer-price 81 000,00 тн. с НДС
    a(href='#').btn-yellow Принять участие
  .purchasing-information__table-client
    span.text-title Заказчик:
    a(href='#').client "Общеобразовательная школа-интернат I-III ступеней - центр общей и профильного образования и комплексной реабилитации"
    .stars-wrap
      span.live-rating
      span.rating-count
