.purchasing-information__row
  .purchasing-information__row-title
    span.text-title Информация о заказчике
    i.chevron-icon.fa.fa-chevron-down(aria-hidden='true')
  .purchasing-information__row-hide
    .purchasing-information__row-hide-line 
      span.purchasing-information__row-hide-title Название:
      span.purchasing-information__row-hide-text Коммунальное учреждение "Общеобразовательная школа-интернат I-III ступеней - центр общей и профильного образования и комплексной реабилитации"
    .purchasing-information__row-hide-line 
      span.purchasing-information__row-hide-title Код ЕГРПОК:
      span.purchasing-information__row-hide-text 04729901
.purchasing-information__row
  .purchasing-information__row-title
    span.text-title Информация о заказчике
    i.chevron-icon.fa.fa-chevron-down(aria-hidden='true')
  .purchasing-information__row-hide
    .purchasing-information__row-hide-line 
      span.purchasing-information__row-hide-title Название:
      span.purchasing-information__row-hide-text Коммунальное учреждение "Общеобразовательная школа-интернат I-III ступеней - центр общей и профильного образования и комплексной реабилитации"
    .purchasing-information__row-hide-line 
      span.purchasing-information__row-hide-title Код ЕГРПОК:
      span.purchasing-information__row-hide-text 04729901
